streamlit
pandas
numpy
plotly
folium
streamlit-folium
mlxtend
scikit-learn
matplotlib
seaborn
openpyxl         
geopy             
faiss-cpu
langchain
langchain-community
groq
langchain-groq
langchain-text-splitters
langchain-huggingface
sentence-transformers
requests
xmltodict
python-dotenv
newsapi-python
tiktoken
